<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <! for Commenting  >
    <!-- <p>Welcome to <%= title %></p> -->
    <p>Welcome to the Hotel California</p>
  </body>
  <script>
    console.table(<%- JSON.stringify(env) %>)
  </script>
</html>
