<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <!-- <p>Welcome to <%= title %></p> -->
    <p>Knocking on Heavesn door</p>
    <p>Search, Seek and Destroy</p>
    <p>Paint it Black</p>
  </body>
  <script>
    console.table(<%- JSON.stringify(env) %>)
  </script>
</html>
